/*
pallete

#bb588c
#54a8f3 background
#f26563
#bfe4f9
#050f26 text
*/

.clearfix {
	overflow: auto;
	zoom: 1;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #54a8f3;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
	color: #050f26;
}

h2 {
	text-align: center;
}

header {
	position: relative;
	background-color: #54a8f3;
}

header img {
	margin-top: 20px;
	max-height: 100px;
	margin-bottom: 10px;
}

#nav-header {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#goal {
	margin: 20px auto;
	max-width: 70%;
}

#goal p {
	text-align: justify;
}

.links-header li {
	display: inline-block;
	padding-right: 20px;
}

.links-header li a {
	font-size: 20px;
	text-decoration: none;
	color: #050f26;
}

/*
	útil
*/
.center-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.top-core img {
	float: top;
	padding-right: 30px;
}
